$breakpoint-md: 740px
$breakpoint-sm: 640px

$font-sans: "Rubik", Arial, sans-serif

$fontsize-base: 1rem
$fontsize-small: 0.85rem

$color-brand-1: #184df1
$color-text-black: #222





$section-padding: 5rem
$section-padding-mobile: 3rem

$rounded-big: 0.8rem
$rounded-medium: 0.5rem
$rounded-small: 0.25rem
$container-max-width: 800px