---
let currentYear = new Date().getFullYear();
---

<div class="Footer">
  <div class="o-container">
    <div class="Footer__box">
      <div class="Footer__resume">Download Resume</div>
      <div class="Footer__copyright">&copy; {currentYear} Hamdi Rizal</div>
    </div>
  </div>
</div>

<style lang="sass">
  @use "../styles/variables"
  
  .Footer
    margin-top: 2rem
    margin-bottom: 1rem
    font-size: variables.$fontsize-small
  .Footer__box
    display: flex
    justify-content: space-between

  @media screen and (max-width: variables.$breakpoint-md)
    .Footer__box
      display: block
      text-align: center      
    .Footer__copyright
      margin-top: 1rem
</style>