<form action="" class="Form">
  <div class="Form__grid">
    <div class="Form__col">
      <div class="Form__row">
        <div class="Form__label">
          <label>Full Name</label>
        </div>
        <div class="Form__control">
          <input type="text" />
        </div>
      </div>
      <!-- .Form__row -->
      <div class="Form__row">
        <div class="Form__label">
          <label>Email</label>
        </div>
        <div class="Form__control">
          <input type="text" />
        </div>
      </div>
      <!-- .Form__row -->
      <div class="Form__row">
        <div class="Form__label">
          <label>Website (optional)</label>
        </div>
        <div class="Form__control">
          <input type="text" />
        </div>
      </div>
      <!-- .Form__row -->
    </div>
    <div class="Form__col">
      <div class="Form__row">
        <div class="Form__label">
          <label>Comments / Questions</label>
        </div>
        <div class="Form__control">
          <textarea name="" rows="6"></textarea>
        </div>
      </div>
      <!-- .Form__row -->
      <div class="Form__row">
        <button type="submit" class="c-button-primary"> Send Message</button>
      </div>
      <!-- .Form__row -->
    </div>
  </div>
</form>

<style lang="sass">
  @use "../styles/variables"
  .Form
    container-type: inline-size
  .Form__row
    margin-bottom: 1rem
  .Form__grid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 2rem
  @container (max-width: 540px)
    .Form__grid
      grid-template-columns: 1fr
      grid-gap: 0
</style>
