---
import TopNav from '../components/TopNav.astro';
---

<div class="Header">
  <div class="o-container">
    <TopNav />
  </div>
</div>

<style lang="sass">
  @use "../styles/variables"
  .Header
    padding-bottom: 1.5rem
    padding-top: 1.5rem
</style>
