<section class="c-hero" id="about">
  <div class="o-container">
    <div class="c-hero__row">
      <div class="c-hero__col">
        <div class="c-hero__hi">Hi,</div>
        <div class="c-hero__content">
          my name is <span>Hamdi.</span> I am a web developer based in
          <span>East Java, Indonesia.</span>
          <p>
            I provide website <span>design and development</span> services
            that <span>complement your business!</span>
          </p>
        </div>
      </div>
      <div class="c-hero__col">
        <div class="c-hero__pic">
          <img
            width="256"
            height="256"
            src="./assets/headshot.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>