<dialog data-mymodal class="c-modal">
  <div class="c-modal__box">
    <div class="c-modal__content" data-mymodal-content></div>
  </div>
  <button data-close-btn class="c-modal__close">
    <img src="./assets/close.svg" alt="" />
  </button>
</dialog>