---
interface Props {
	title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<div class="ServiceItem">
  <h4 class="ServiceItem__title">{title}</h4>
  <div class="ServiceItem__desc">
    {description}
  </div>
</div>

<style lang="sass">
  @use "../styles/variables"
  .ServiceItem
    color: variables.$color-text-darkgrey
  .ServiceItem__title
    margin-bottom: 0.5rem
    color: variables.$color-text-black
</style>