<section class="c-services-section" id="services">
  <div class="c-services-section__overlay"></div>
  <div class="o-container">
    <div class="c-services-section__box">
      <h2 class="o-section-title c-services-section__title u-animate-in-1">
        What I Do
      </h2>
      <ul class="c-services-section__list u-animate-in-2">
        <li>
          <div class="c-service-item">
            <h4 class="c-service-item__title u-text-brave">Web Design</h4>
            <div class="c-service-item__desc">
              Web Design for Small, Medium and NDIS Support Provider businesses.
            </div>
          </div>
        </li>
        <li>
          <div class="c-service-item">
            <h4 class="c-service-item__title u-text-brave">Web Development</h4>
            <div class="c-service-item__desc">
              Web Design for Small, Medium and NDIS Support Provider businesses.
            </div>
          </div>
        </li>
        <li>
          <div class="c-service-item">
            <h4 class="c-service-item__title u-text-brave">SEO</h4>
            <div class="c-service-item__desc">
              Web Design for Small, Medium and NDIS Support Provider businesses.
            </div>
          </div>
        </li>
        <li>
          <div class="c-service-item">
            <h4 class="c-service-item__title u-text-brave">Administration</h4>
            <div class="c-service-item__desc">
              Web Design for Small, Medium and NDIS Support Provider businesses.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
