---
import ServiceItem from "../components/ServiceItem.astro";

let services = [
  {
    title: "Web Design",
    description:
      "Web Design for Small, Medium and NDIS Support Provider businesses.",
  },
  {
    title: "Web Development",
    description:
      "Web Design for Small, Medium and NDIS Support Provider businesses.",
  },
  {
    title: "SEO",
    description:
      "Web Design for Small, Medium and NDIS Support Provider businesses.",
  },
  {
    title: "Administration",
    description:
      "Web Design for Small, Medium and NDIS Support Provider businesses.",
  },
];
---

<section class="ServiceSection" id="services">
  <div class="ServiceSection__overlay"></div>
  <div class="o-container">
    <div class="ServiceSection__box">
      <h2 class="o-section-title ServiceSection__title">What I Do</h2>
      <ul class="ServiceSection__list">
        {
          services.map((service) => (
            <li>
              <ServiceItem
                title={service.title}
                description={service.description}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style lang="sass">
  @use '../styles/variables'

  .ServiceSection
    margin-top: 2rem
  .ServiceSection__box
    border: 6px solid #dce2eb
    border-radius: 1rem
    padding: 2rem
    color: variables.$color-text-black
  .ServiceSection__title
    margin-bottom: 1rem
  .ServiceSection__list
    list-style: none
    padding: 0
    margin: 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 2rem
</style>
