<section class="c-why">
  <div class="o-container">
    <div class="c-why__row">
      <ul class="c-why__list">
        <li>
          <div class="c-why-item">
            <div class="c-why-item__icon"></div>
            <div class="c-why-item__title">
              Functional Design
            </div>
            <div class="c-why-item__desc u-text-normal">
              Each design is hand-crafted to suit the need of the business I
              am working with.
            </div>
          </div>
        </li>
        <li>
          <div class="c-why-item">
            <div class="c-why-item__icon"></div>
            <div class="c-why-item__title">Bold Ideas</div>
            <div class="c-why-item__desc u-text-normal">
              I like to experiment and keep up to date with new and emerging
              technology.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>